// Place all the styles related to the public/addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

 //配送先登録・一覧
 .address-index,
 .address-edit {
  width: 11em;
 }
 
 label.postal_code {
  display: inline-block;
  text-align: left;
  width: 15em;
 }

 .new {
   width: 150px;
 }

 th.adddress-index-top {
   width: 50px;
 }

 th.address-index-second {
   width: 200px;
 }

 th.address-index-third {
   width: 70px;
 }

 th.address-index-forth {
   width: 100px;
 }

 //配送先編集
 .address-field,
 .name-field {
   margin-left: 140px;
 }