// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

 .button {
   text-align: center;
 }
 
 //ショッピングカート画面
 th.shopping-cart-top {
   width: 350px;
 }