// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

.customer-label {
  width: 7em;
}

.mypage_heading {
  display: inline-block;
  text-align: left;
  width: 7em;
}

.submit-button {
  display: inline-block;
  margin-left: 7em;
  width: 80%;
}

.withdraw-button {
  display: inline-block;
  text-align: left;
}