// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

.button {
  text-align: center;
}

.address-text-field {
  margin-left: 138px;
}

.name-text-field {
  margin-left: 138px;  
}

// 注文履歴一覧画面
.layout-order-index {
  table-layout: fixed;
  width: 100%;
}

th.top {
  width: 100px;
}

th.second {
  width: 200px;
}