// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

.button {
  text-align: center;
}

.address-text-field {
  margin-left: 138px;
}

.name-text-field {
  margin-left: 138px;  
}

// 注文履歴一覧画面
.layout-order-index {
  table-layout: fixed;
  width: 100%;
}

th.orderindex-top {
  width: 100px;
}

th.orderindex-second {
  width: 300px;
}

th.orderindex-third {
  width: 170px;
}

th.orderindex-forth {
  width: 100px;
}

th.orderindex-sixth {
  width: 100px;
}

//注文履歴詳細画面
th.order-show {
  width: 150px;
}

td.order-show-td {
  width: 400px;
}

th.order-show2,
td.order-show2 {
  width: 150px;
}

th.order-show3-top {
  width: 400px;
}

th.order-show3-second {
  width: 150px;
}

th.order-show3-third,
th.order-show3-forth {
  width: 100px;
}

//注文情報確認
.checkinfo {
  table-layout: fixed;
  width: 100%;
}

th.checkitem-name-th {
  width: 250px;
}

th.checkitem-price-th {
  width: 110px;
}

th.checkitem-amount-th {
  width: 70px;
}

th.checkitem-subtotal-th {
  width: 70px;
}

.checkinf-paymentmethod,
.checkinfo-address,
.checkinfo-name {
  width: 4em;
}