// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 
  h3 {
   margin: 50px;
 }

.label {
  margin-bottom: 20px;
}

label {
  margin-right: 50px;
  vertical-align: top;
}

textarea,{
  resize: none;
  width: 250px;
  height: 150px;
}
.submit-button {
  text-align: center;
}

.item-label{
    display: inline-block;
    text-align: left;
    width: 100px;
}

.item-show-label {
    display: inline-block;
    text-align: left;
    width: 120px;
}