// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 
  h3 {
   margin: 50px;
 }

.label {
  margin-bottom: 20px;
}

label {
  margin-right: 50px;
  vertical-align: top;
}

textarea,{
  resize: none;
  width: 250px;
  height: 150px;
}

//商品編集画面
.admin-itemlabel{
    display: inline-block;
    text-align: left;
    width: 7em;
}

.item-show-label {
    display: inline-block;
    text-align: left;
    width: 120px;
}

.file-select {
  display: inline-block;
  text-align: left;
}

.submit-button {
  text-align: left;
}

//商品詳細画面

.admin-itemshow {
  width: 7em;
}

//商品一覧
.btn--circle {
  width: 60px;
  height: 60px;
  padding: 0;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.size {
  color: #fff;
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;

}