// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

.table {
  margin-top: 20px;
}

//注文履歴詳細

.layout-order-show {
  table-layout: fixed;
  width: 100%;
}

.order-status {
  width: 100px;
}

.form_date_select {
  display: inline-block;
  width: auto;
}

.admin-ordershow {
  //display: inline-block;
  //text-align: left;
  width: 7em;
}

.payment {
  display: inline-block;
  text-align: left;
  width: 6em;
}


th.button-th {
  width: auto;
}

th.making-status-th {
//.select-form {
  width: 210px;
}

th.order-item-name {
  width: 190px;
}

th.order-item-price {
  width: 110px;
}

th.order-item-amount {
  width: 65px;
}

th.order-item-subtotal {
  width: 70px;
}

.td-button {
    /*コレ*/display: flex;
    /*コレ*/justify-content: flex-end;
}
.payment-box {
  display: flex;
  align-items: flex-end;
  padding-right: 5px;
}