/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* 顧客側 新規会員登録 */
.name-label {
  display: inline-block;
  text-align: left;
  width: 120px;
}

.name-kanji-label {
  margin-right: 10px;
}

.name-kanji-label-mei {
  margin-right: 18px;
}

.kana-name-label {
  display: inline-block;
  text-align: left;
  width: 110px;
}

.name-kana-label {
  margin-right: 8px;
}

.actions-login {
  text-align: center;
}

.email-field {
  margin-left: 88px;
}

.postal-code {
  margin-left: 30px;
}

.address {
  margin-left: 167px;
}

.telephone-number {
  margin-left: 30px;
}

.password {
  margin-left: 37px;
}

.confirm-password {
  margin-left: 62px;
}

.customer-login {
  margin-left: 100px;
}
/* 共通レイアウト */
header {
  border-bottom: solid 1px black;
}

.main {
  margin-top: 20px;
  padding-bottom: 30px;
}

footer {
  height: 100px;
  width: 100%;
  border-top: solid 1px black;
}

/* 顧客側ログイン画面*/
.customer-login {
  width: 7em;
}

/* 管理者ログイン */
.admin-login {
  width: 7em;
}

/* 画面全体背景 */
body {
  background-image: image-url('bgimage.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba( 225, 225, 225, 0.5);
  height: 100%;
  width: 100%;
}

header {
  background-color: #ffff99;
  width: 100%;
  height: 100%;
}

footer {
  background-color: #ffff99;
  width: 100%;
  height: 50px; 
}

.copylight {
  display: inline-block;
  justify-content: center;
  margin-top: 15px;
}